*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #bdc1c6;
    background: #202124;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*color d los botones #202124*/
nav{
    height: 48px;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    list-style: none;
    align-items: center;
}
nav ul li{
    padding: 10px;
    
}
nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, sans-serif;
    align-items: center;
}
.entrar{
    background: #8ab4f8;
    box-shadow: none;
    color: #202124;
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
}
section{
	display: block;
	align-items: center;
    flex: 1;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;    
    justify-content: flex-end;
}
.buscador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.barra{
        margin: 0 auto;
        display: flex;
        border-radius: 24px;
        border:1px solid #5f6368;
        box-shadow: none;
        width: 100%;
        max-width: 584px;
        padding: 12px;
        align-items: center;
        position: relative;
}
input{
    font-family: arial,sans-serif;
    line-height: 22px;
    background: transparent;
    border: none;
    width: 100%;
}
input:focus {
    outline: none;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    /* Opcionalmente, puedes agregar más estilos aquí */
}
#txt{
    display: flex;
    background: transparent;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: hidden;
    width: 80%;
}
.barra:hover, .barra:active{
    background-color: #303134;
    color: aliceblue;
    border: 1px solid #303134;
}
.barra img{
    cursor: pointer;
}
a:hover, a:visited{
    cursor: pointer;
    border-bottom: 1px solid white;
}

.barra .material-symbols-outlined{
    margin-right: 10px;
    margin-left: 5px;
    cursor: pointer;
    width: 20px;
}

.barra .microfono{
    width: 15px;
    margin-left: 18px;
    margin-right: 8px;
}
.barra .camara{
    width: 24px;
    margin-left: 10px;
    margin-right: 0px;
}
.buttons{
    margin-top: 15px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones:hover, .botones:active{
    border: 1px solid #5f6368;
}

.botones{
    background-color: #303134;
    border: none;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 6px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

footer{
    background: #171717;
}
footer .pais{
    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
    color: #9aa0a6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    color: #9aa0a6;
    font-family: Arial, sans-serif;
}
footer .info{
    display: flex;
    justify-content: space-between;
    padding: 17px ;
    flex-wrap: wrap;
}
footer .info a{
    padding: 15px;
    white-space: nowrap;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.historial{
    
    position: absolute;
    background-color: #303134;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    left: 0;
    top: 50px;
}
#history{
    display: none;

}
.historial ul{
    padding: 0;
}
.historial ul li{
    padding: 5px;
    margin: 8px;
    list-style: none;
    
}
.historial ul li a{
text-decoration: none;
color: aliceblue;
font-size: 14px;
}
.border-navegacion{
    position: absolute;
    background-color: #545556;
    padding: 16px;
    width: 20%;
    height: 72%;
    right: 50px;
    top: 70px;
    border-radius: 12px;
}
.navegacion{
    background-color: #303134;
    border-radius: 12px;
    height: 100%;
    border: 12px;
    display: none;
    
}
.navegacion .border-navegacion a{
    display: inline-flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
    color: white;
    margin: 8px;
}
.icons a:hover, .icons a:active{
    background-color: #262627;
    border-radius: 8px;
    padding: 5px;
    color: aliceblue;
    transition: all 0.2s ease;
}
.navegacion .border-navegacion .icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navegacion .border-navegacion a p{
    margin-top: 5px;
    padding: 5px;
}
.navegacion .border-navegacion a img{
    width: 40px;
}